<div class="registration-container" flexbox>
  <form class="registration-form">
    <div class="registration-full-width">
      <h1>Simple Registration</h1>
    </div>
    <md-input-container class="registration-full-width">
      <input mdInput id="first_name" value="" placeholder="First Name" required>
    </md-input-container>
    <md-input-container class="registration-full-width">
      <input mdInput id="last_name" value="" placeholder="Last Name" required>
    </md-input-container>
    <div class="registration-full-width">
      <button md-button color="accent">Submit</button>
    </div>
  </form>
</div>

