.registration-container {
  background-color: #7fc48f;
  display: flex;
  align-items: center;
  justify-content: center;
}

::shadow .registration-form {
  max-width: 60%;
  padding-bottom: 20px;
}


::shadow .registration-full-width {
  display: flex;
  align-items: center;
}

form h1 {
  color: #d19387;
}

::shadow .mat-button.mat-accent, .mat-icon-button.mat-accent {
  color: #cf6e8a;
}

::shadow .registration-form--bottom {
  /*align-self: flex-end;*/
}
