<header class="header flexbox">
  <h1 color="accent" class="flexbox-item angleBrackets">{{title}}</h1>
</header>


<div class="container">
  <nav>
    <div class="nav-item">
      <button md-button
              color="accent"
              routerLink="/examples"
              routerLinkActive="active"
      >Examples</button>
    </div>
    <div class="nav-item">
      <button md-button
              color="accent"
              routerLink="/registration"
      >Registration</button>
    </div>
  </nav>
  <div class="flex-column">
    <router-outlet></router-outlet>
  </div>
</div>
